html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	overflow-x: hidden;
	height: 120%;
}
.portrait canvas {
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-100%);
}
.desktop canvas {
	transform: scale(1, 1);
}
#myCanvas2 {
	background: rgba(255,255,255,255);
	position: absolute;
	z-index: 1;
	border: 0.1px solid white;
	transform: scale(1, 1);
}

#mainTable {
  position: relative;
  padding: 0px;
}

#tmp_canvas {
  z-index: 2;
  width: 640;
  height: 480;
}

::-moz-selection{
	background-color:Transparent;
	color:#000;
}

::selection {
	background-color:Transparent;
	color:#000;
}

#sound1 #sound2 {
	position: absolute;
}

@font-face { font-family: Hypy; src: url('fonts/Hypy.ttf'); }
@font-face { font-family: kaiti; src: url('fonts/simkai.ttf'); }